:root{
    --colorLetra: white;

}
.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorLetra);
    width: 99%;
    min-height: 30rem;


  
}
.productos ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto-img img{
 width: 13rem;
    height: 13rem;
   object-fit:cover ;
   border-radius: 5px;
    
}


.productos li{
    width: 15rem;
    height: auto;
    
    padding-bottom:10px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    background-color:  rgba(33,31,66,1);
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    margin: 10px 10px 10px ;
}

.btn{
    background-color: rgb(170, 37, 182);
}

.btn:hover{
    background-color: rgb(89, 26, 95);
}

.titulo{
    height: 3rem;
}